<h1>
    Index en construcción
</h1><hr />

<div>
    <h3> Pendientes: </h3>
    <ul>
        <li>Arreglar el contador de actividades</li>
        <li>Hora de inicio  (Entrada login)</li>
        <li>Hora de Termino (Salida  login)</li>
    </ul>
</div>