<footer class="footer-copyright text-center py-3">
    © @DateTime.Now.Year Derechos Reservados a: 
    <a href="http://www.mundopacifico.cl" target="_blank"> MundoPacifico.cl</a>
    <address class="text-hide">
        Desarrolladores:

        Carlos Godoy:
        cgodoy.lizama@gmail.com

        Marcelo Zapata:
        marcelo.zapata@mail.com
    </address>
</footer>