<footer class="footer-copyright text-center py-3">
    © @DateTime.Now.Year Derechos Reservados a: 
    <a href="http://www.mundopacifico.cl" target="_blank"> MundoPacifico.cl</a>
    <address class="text-hide">marcelo.zapata@mail.com</address>
</footer>